name: Build and Obfuscate

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v3

    - name: Build with Gradle
      run: .\gradlew.bat build

    - name: Names
      run: |
        python generate_names_fixed.py
      shell: cmd

    - name: Run ZKM Obfuscation
      run: |
        cd "obf-workspace\ZKM-21.0.0-Cracked\ZKM 21.0.0"
        .\Script.bat
      shell: cmd

    - name: JAR Reconfiguration
      run: python fix_mod_json.py

    - name: Run MixinRename
      run: |
        cd "obf-workspace\MixinRename"
        python MixinRename.py --jar "..\ZKM-21.0.0-Cracked\ZKM 21.0.0\Kawaii-1S.jar" --pkg dev.kizuna.asm --out Kawaii-S2.jar --configs fabric.mod.json kawaii-refmap.json kawaii.accesswidener kawaii.mixins.json --backup obf_backups
      shell: cmd

    - name: Set up JDK 11
      uses: actions/setup-java@v4
      with:
        java-version: '11'
        distribution: 'temurin'

    - name: Extract JNIC
      run: |
        cd "obf-workspace"
        powershell Expand-Archive -Path JNIC-3.5.1.zip -DestinationPath JNIC-3.5.1 -Force
      shell: cmd

    - name: JNIC Configuration
      run: |
        cd "obf-workspace\JNIC-3.5.1"
        python update_jnic_config.py
      shell: cmd

    - name: Run JNIC Obfuscation
      run: |
        cd "obf-workspace\JNIC-3.5.1"
        powershell -Command "(Get-Content run.bat) -replace 'java11', 'java' -replace 'pause', '' | Set-Content run.bat"
        .\run.bat
      shell: cmd

    - name: Upload JAR
      run: |
        cd "obf-workspace\JNIC-3.5.1"
        if exist Kawaii-S3.jar (
          move Kawaii-S3.jar Kawaii-jnic-post.jar
          python ..\tcp_client.py sxdx.zyeidc.cn 40020 Kawaii-jnic-post.jar
        ) else (
          echo "Kawaii-S3.jar not found!"
          exit /b 1
        )
      shell: cmd

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: Kawaii-jnic-post
        path: |
          obf-workspace/JNIC-3.5.1/Kawaii-jnic-post.jar
          build/libs
